<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/home.css' />
  </head>
  <body> 
    <header>
        <div class="container">
            <div class="logo">
                <video src="/img/vheader_matchbook.mp4" autoplay="true" loop="true" muted class="logo"></video>
            </div>
            <div class="btn-entrar">
                <p>PORTUGUÊS(BRASIL)</p>
                <button onclick="document.location='users/login'">Entre</button>
            </div>

        </div>
    </header>
    <main>
        <section class="wrap-main">
            <div class="container">
                <video src="/img/matchbookbranco" autoplay="true" loop="true" muted class="background"></video>
                    <button type="registro" onclick="document.location='users/registeruser'"> <strong>CRIAR UMA CONTA</strong> </button>
            </div>
        </section>
        <section class="wrap-submain" style="background-image: url('img/wrap-submain.png')">
            <div class="container">
                <article>
                    <div class="bloco">
                        <p> <strong>Bárbara Licia</strong> </p>
                        <p>"Melhor app que já usei! Não consigo parar de dar matches."</p>
                    </div>
                </article>

                <article>
                    <div class="bloco">
                        <p><strong>Manoela Vyctoria</strong></p>
                        <p>"Muito bom, reocmendo!! Ansiosa para as novas features!"</p>
                        
                    </div>
                </article>
                <article>
                    <div class="bloco">
                        <p><strong>Dari Diniz</strong></p>
                       <p>"Incrível! Funciona perfeitamente e não possui nenhum bug. Parabéns aos desenvolvedores!"</p>
                        
                    </div>
                </article>

            </div>
        </section>
    </main>
    <footer>
        <div>
            <p>Match Book © 2021. Todos os direitos reservados</p>
        </div>
        
    </footer>
</body>



</html>