<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css'>
    <link rel="stylesheet" href="/stylesheets/matchbook.css">
    <link rel="stylesheet" href="/stylesheets/mt_cards.css">
    <link REL="SHORTCUT ICON" HREF="/img/logo.ico" type="image/x-icon">
    <title>Match Book</title>
</head>

<body>
    <header>
        <div class="container-header">
            <div class="logo">
                <video src="/img/vheader_matchbook.mp4" autoplay="true" loop="true" muted class="logo"></video>
            </div>
        </div>
    </header>

    <main>
        <div class="container-action">
            <article>
                <img src="/img/bg_menu.jpeg" alt="logo" class="background">
                <video src="/img/vbg_matchbook1.mp4" autoplay="true" loop="true" muted class="background"></video>
                <nav>
                    <button class="botao-matches" type="menu" onclick="document.location='../users/mymatches'">MEUS MATCHES</button>
                    <button class="botao-livros" type="menu" onclick="document.location='./mybooks'">LIVROS</button>
                    <button class="botao-perfil" type="menu" onclick="document.location='../users/myprofile'">MEU PERFIL</button>
                </nav>
            </article>
        </div>

        <div class="tinder">
            <div class="tinder--status">
                <i class="fa fa-remove"></i>
                <i class="fa fa-heart"></i>
            </div>
            <div class="tinder--cards">
                <% for(let book of listaBooks) { %>
                    <div class="tinder--card" style="background-image: url('<%= book.cover %>');">
                        <div class="book-info">
                            <div>
                                <span>
                                    <%= book.name %>
                                </span>
                            </div>
                        </div>
                    </div>
                    <% } %>
            </div>

            <div class="tinder--buttons">
                <button id="nope"><i class="fa fa-remove"></i></button>
                <button onclick="document.getElementById('id02').style.display='block'" class="w3-button w-black"
                    id="save" style="color: white;"><i class="fa fa-save"></i></button>
                <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w-black"
                    id="mlove"><i class="fa fa-heart"></i></button>
            </div>
        </div>

        <div class="w3-container">

            <div id="id01" class="modal">
                <div class="modal-content">
                    <div class="modal-header">
                        <span onclick="document.getElementById('id01').style.display='none'"
                            class="w3-button w3-display-topright"><img src="/img/voltar.png" height="25px"
                                width="25px" id="love"></span>
                        <p id="principal">It's a super like!</p>
                    </div>

                    <div class="logo-gif">
                        <img src="/img/gifmatch.gif" alt="gifmatch" class="logo">
                    </div>

                    <form method="GET" action="/books/<%= listaBooks.id %>?_method=GET">
                        <button id="bt" class="enviarMensagem" type="submit" onforminput="enviarMensagem()">
                            <p>Envie uma mensagem...</p><br><img src="/img/wpp.png" height="40px" width="40px">
                        </button>
                    </form>
                </div>
            </div>

            <div id="id02" class="modal-save">
                <div class="modal-content">
                    <div class="modal-header-save">
                        <span onclick="document.getElementById('id02').style.display='none'"
                            class="w3-button w3-display-topright"><img src="/img/voltar.png" height="25px"
                                width="25px"></span>
                        <p id="principal">Você salvou este livro!</p>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <h3>Match Book © 2021. Todos os direitos reservados</h3>
    </footer>

    <script src="/js/mt_hgestures_cards.js"></script>
    <script src="/js/mt_cards.js"></script>
</body>

</html>