<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/stylesheets/uploadcover.css">
        <title>Match Book</title>
    </head>
<body>
    <header>
        <div class="container">
            <div class="logo">
                <img src="/img/logo.gif" alt="logo" class="logo">
            </div>
        </div>
    </header>
    <main>
        <section class="cadbook">
            <article>
                <div class="container-action">
                    <img src="/img/bibliobook.png" alt="logo" class="background">
                        <nav>
                            <button class="botao-matches" type="menu" href="views/">MATCHES</button>
                            <button class="botao-livros" type="menu" onclick="document.location='users/mybooks'">LIVROS</button>
                            <button class="botao-perfil" type="menu" href="views/">MEU PERFIL</button>
                        </nav> 
                        <h2>CADASTRE UM LIVRO</h2>
                </div>
                <div class="container-btnvoltar">
                    <button onclick="document.location='books/registerbook'">Voltar</button>
                </div>
            </article>
            <article>
                    <div class="container-form">
                        <form action="/books" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="users_id" value="<%= userlogin.id %>">
                            
                                <div class="input-file">
                                    <div id="upload-cover">
                                        <input id="cover-input" type="file" name="cover" accept="image/*" onchange="addPhoto(event)">
                                        <p>Enviar foto da capa do livro</p>
                                    </div>
                                </div>

                            <div class="cta-cadastro">
                                <button class="botao" type="submit">Cadastrar livro</button>
                            </div>

                        </form>                  
                    </div>
                </article>
        </section>
    </main>

    <script>
        const input = document.querySelector('#cover-input')
        const p = document.querySelector('.input-file p')

        function addPhoto(event) {
            p.innerText = "Foto enviada"
        }
    </script>

</body>

    <footer>
        <div class="conteiner">
            <div class="roda-pe">
                <h3>Match Book © 2021. Todos os direitos reservados</h3>
            </div>
        </div>
    </footer>

</html>