@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}

header {
    padding: 10px;
    background: #AA6DC7;
}

section.principal .container {
    display: flex;
    padding: 0;
    margin: 0;
}
section.principal article.exibithion{
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

section.principal article.exibithion{
    height: 450px;
    overflow-y: scroll;
    scroll-snap-type: x mandatory;
}

section.principal article.exibithion div.card {
    
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin: 5px;
    padding: 0;
    scroll-snap-align: start;
    
}


.board {
    width: 35%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.board div {
    max-width: 100%;
}

.navigation {
    height: 20%;
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

.back {
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.exibithion .card {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 10px;
    margin: 5px;
    padding: 0;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.exibithion .cover {
    width: 100%;
    height: 350px;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin: 0;
    padding: 0;
}


section.principal button {
    align-self: center;  
    background: #A1C8EB;
    border-radius: 10px;
    width: 200px;
    height: 25px;
    font-family: Roboto Mono;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 10px;
  } 
  
  button:hover{
      transition: 0.3s;
    color: white;
    border: 10px;
   border: white;
  }
  
  
  article.board {
      align-items: center;
      padding: 20px;
  }

h4 {
    text-align: center;
}

footer {
 width: auto;
 background-color: #A1C8EB;
 padding: 20px;
 height: 90px;
}
  
footer p {
    color: black;
    text-align: center;
}
