@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto Mono', sans-serif;
  color: black;
}

header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100vw;
  height: 7vh;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
  background: #AA6DC7;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-between;
  justify-content: space-around;
  align-items: center;
}

.logo{
  width: 6vw;
  height: 7vh;
}

header .container {
  display: flex;
  align-items: center;
  width: 100%;
}

.inicio{
  width: 50%;
}

.btn-enter{
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: flex-end;
}

header button{
  position: fixed;
  width: 7vw;
  height: 3vh;
  font-family: Rhodium Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 0.75em;
  color: #131212;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  background: #A1C8EB;
  margin-right: 1.5vw;
}

header .idioma {
  position: fixed;
  font-family: Rhodium Libre;
  font-style: normal;
  font-weight: normal;
  font-size: 70%;
  color: #000000;
  margin-right: 10vw;
}

header button:hover {
  transition: 0.3s;
  color: white;
  border: 10px;
  border: white;
}

main{
  width: 100vw;
  height: 70vh;
  margin-top: 7vh;
}

main h2 {
  position: absolute;
  width: 15vw;
  height: 14vh;
  left: calc(50vw - 15vw/2);
  top: 15vh;

  font-style: normal;
  font-weight: 400;
  font-size: 4vh;
  
  align-items: center;
  text-align: center;

  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main span {
  position: absolute;
  width: 30vw;
  height: 19.6vh;
  left: calc(50vw - 30vw/2);
  top: 25vh;

  font-style: normal;
  font-weight: 400;
  font-size: 3vh;
     
  align-items: center;
  text-align: center;

  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.email{
  position: absolute;
  width: 8.5vw;
  height: 8vh;
  left: calc(50vw - 29.25vw/2);
  top: 35vh;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 4vh;
  line-height: 65px;

  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#input_email{
  position: absolute;
  width: 29.25vw;
  height: 9.87vh;
  left: calc(50vw - 29.25vw/2);
  top: 44vh;
  
  background: #DEDEDE;
  border-radius: 10px;
}

.senha{
  position: absolute;
  width: 8.5vw;
    height: 8vh;
    left: calc(50vw - 29.25vw/2);
    top: 56vh;

  font-family: Roboto Condensed;
  font-style: normal;
  font-weight: 300;
  font-size: 4vh;
  line-height: 65px;
  /* or 271% */
  
  display: flex;
  align-items: center;
  text-align: center;
  
  color: #000000;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#input_senha{
  position: absolute;
  width: 29.25vw;
    height: 9.87vh;
    left: calc(50vw - 29.25vw/2);
    top: 65vh;

  background: #DEDEDE;
  border-radius: 10px;
}

form button{
  position: absolute;
  width: 10.32vw;
    height: 6.23vh;
    left: calc(50vw - 10.32vw/2);
    top: 81vh;

  background: #A1C8EB;
  border: 1px solid rgba(0, 0, 0, 0.33);
  border-radius: 5px;

  font-family: Roboto Mono;
  font-style: normal;
  font-weight: 300px;
  font-size: 3vh;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

form button:hover{
  transition: 0.3s;
  color: white;
  border: 10px;
  border: white;
}

footer{
  position: fixed;
  width: 100vw;
  height: 7vh;
  bottom: 0;
  background: #75A3CD;
}

footer .conteiner{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

footer  h3{
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 2vh;
  color: black;
}