@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.container-action {
    width: 26vw;
    height: 100%;
}

.container-action img {
    position: absolute;
    width: 26vw;
    height: 100%;
    background: linear-gradient(180deg, rgba(117, 163, 205, 0.72) 0%, rgba(193, 134, 221, 0.56) 77.6%), url(image.png);
}

.container-action video {
    position: absolute;
    width: 26vw;
    height: 100%;
}

.container-action nav {
    position: absolute;
    margin-top: 2vh;
    width: 26vw;
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: space-between;
}

.container-action button {
    padding: 5px;
    margin: 10px;
    background-color: transparent;
    font-weight: bold;
    border-radius: 5px;
    border-color: #aa6dc7;
    border-style: solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    width: 40%;
    color: white;
}

.container-action button:hover {
    background-color: #aa6dc7;
    border-radius: 5px;
    border-color: #aa6dc7;
    border-style: solid;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.container-action h2 {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

button:hover {
    transition: 0.3s;
    color: white;
    border: 10px;
    border: white;
    background-color: #C186DD;
}

.logo {
    height: 7vh;
    display: flex;
    justify-content: flex-end;
}

main {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    position: absolute;
}

.modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: radial-gradient(circle, rgb(0 0 0 / 57%), rgb(0 0 0 / 77%), rgb(0 0 0));
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s;
    z-index: 101;
    align-items: center;
    justify-content: center;
    display: none;
}

.transition {
    transition: all .25s ease-in-out;
    -moz-transition: all .25s ease-in-out;
    -webkit-transition: all .25s
}

.modal .modal-content {
    position: absolute;
    background: linear-gradient(180deg, rgba(117, 163, 205, 0.72) 0%, rgba(193, 134, 221, 0.56) 77.6%);
    top: 100px;
    left: 605px;
    height: 350px;
    width: 450px;
    padding: 50px;
    border-radius: 5px;
    justify-content: center;
}

.modal .modal-content .modal-header #principal {
    position: relative;
    color: black;
    justify-content: center;
    font-size: xx-large;
    font-weight: bolder;
    top: -35px;
    left: 70px;
}

.modal .modal-content .logo-gif img {
    height: 150px;
    width: 150px;
    margin: -20px 100px;
}

.modal .modal-content .enviarMensagem {
    position: absolute;
    margin: 20px 110px;
    background: none;
    border: none;
}

.modal-save {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 101;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-save .modal-content {
    position: absolute;
    background: linear-gradient(180deg, rgba(117, 163, 205, 0.72) 0%, rgba(193, 134, 221, 0.56) 77.6%);
    top: 200px;
    left: 705px;
    height: 150px;
    width: 250px;
    padding: 50px;
    border-radius: 5px;
    justify-content: center;
}

.modal-save .modal-content .modal-header-save #principal {
    position: relative;
    color: black;
    justify-content: center;
    font-size: medium;
    font-weight: bolder;
    top: -35px;
    left: 40px;
}