@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

* {
    box-sizing: border-box;
}



body {
    padding: 0;
    margin: 0;
    font-family: 'Ropa Sans', sans-serif;
    color: #777777;

}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}



header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
    /* margin-bottom: 30px; */
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    justify-content: space-between;
    background: #AA6DC7;
}

.avata{
    position: relative;
    width: 50px;
    height: 50px;
    left: 40px;
    top: 1px;
    border-radius: 50%;
    color: #fff;

    background-position: 50% 50%;
    background-size: auto 100%;
    border-style: solid;

}

.nomedousuario{
    position: absolute;
    height: 50px;
    left: 110px;
    top: -3px;

    color: #000000;
}

section.styles article{
    position: absolute;
    width: 401px;
    height: 600px;
    left: 0px;
    top: 0px;


}

section.styles h2{
    position: absolute;
    width: 401px;
    height: 34px;
    left: 34px;
    top: 70px;

    

    color: #000000;
}

section.styles .n{
    position: absolute;
    width: 111px;
    height: 30px;
    left: 32px;
    top: 120px;

    color: #000000;
}

section.styles .nome{
    position: absolute;
    width: 334px;
    height: 50px;
    left: 32px;
    top: 165px;

    background: #FFFEFE;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

section.styles .telefone{
    position: absolute;
    width: 111px;
    height: 30px;
    left: 32px;
    top: 215px;

    color: #000000;
}

section.styles .email{
    position: absolute;
    width: 334px;
    height: 50px;
    left: 32px;
    top: 360px;

    background: #FFFEFE;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}

section.styles .e{
    position: absolute;
    width: 111px;
    height: 30px;
    left: 32px;
    top: 315px;

    color: #000000;
}

section.styles .numero{
    position: absolute;
    width: 334px;
    height: 50px;
    left: 32px;
    top: 260px;

    background: #FFFEFE;
    border: 1px solid rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
}


.voltar button{
padding: 5px 7px;
position: absolute;
width: 150px;
height: 34px;
left: 30px;
top: 420px;
background: #A1C8EB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: rotate(-0.03deg);
}

.cta-delete button
{
position: absolute;
width: 150px;
height: 34px;
left: 120px;
top: 480px;
background: #df2a1d7e;
box-shadow: 0px 4px 4px rgba(22, 19, 19, 0.25);
border-radius: 5px;
transform: rotate(-0.03deg);
}
.meuperfil{
    position: relative;
    width: 311px;
    height: 350px;
    left: 657px;
    top: 100px;
    width: 311px;
    border-radius: 8px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.update button{
    position: absolute;
    width: 150px;
height: 34px;
left:215px;
top: 420px;
    background: #A1C8EB;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
border-radius: 5px;
transform: rotate(-0.03deg);
}

footer{
    position: absolute;
width: 100%;
height: 57px;
left: 0px;
top: 587px;

background: #75A3CD;
}

footer .roda-pe{
    position: absolute;
height: 24px;
left: 500px;
top: 10px;
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 12px;
color: #000000;
}


@media (max-width: 1010px) {
    section.projects .container {
        padding: 50px;
        justify-content: center;
    }
}

